use flake

# Check for local composer and install if not found
if [ ! -f ./composer ]; then
  php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
  mkdir -p ./composer/bin
  php composer-setup.php --install-dir=./composer/bin --filename=composer
  rm composer-setup.php
fi

# Add local composer to PATH to override global
export PATH="./composer/bin:$PATH"

